.DS_Store
node_modules
.venv

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__
*egg-info
*pyc
/data/Somerville_s22000.npy
/data/Somerville_s22000_interior.vtu
*.vti
lidar_data_viewer/state_update_test.py
lidar_data_viewer/test_router.py
lidar_data_viewer/app/viz_test.py
lidar_data_viewer/app/viz_test.py
*.vtp
*.vtu
